<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antonela Alde UX UI Design Web developer</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--BOOTSTRAP CSS LOCAL-->
    <link rel="stylesheet" href="../bs/css/bootstrap.css">
    <!--Incrusto CSS-->
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <!--LOGO PARA VOLVER AL INDEX-->
        <a href="../Index.html"><img src="../multimedia/LOGO SOLO.png" alt="Logotipo profesional" width=80 height="70" class="img__tamaño"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      


        <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./novedades.html">Novedades</a>
                            </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./sobremi.html">Sobre mi</a>
                            </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./Trabajos.html">Trabajos</a>
                            </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./contacto.html">Contacto</a>
                         </li>
                </ul>
        </div>
      </nav>
    </header>
<section class="contenedor">
    <h1 class="titulo-seccion">Novedades</h1>
    <br>
    <h2 class="titulo-seccion">Entérate de todas las novedades del mundo del diseño UX UI</h2>
</section>

    <div class="row align-items-center">
        <div class="col">
            <div class="imagen_centro">
                <img src="../multimedia/OICwebinar.013.jpeg" alt="Design Thinking proceso" class="bordesRedondeados" id="img" width="300px" height="150px">
             </div>
      
          <h3 class="titulosTrabajos">Metodologías de diseño: Design Thinking</h3>
          <br>
          <section>
              <p>
                  El Design Thinking se posiciona entre las mejores meodologías ágiles para trabajar en el campo UX. Su <br>
                  orientación al diseño centrado en el usuario hace que difícilmente nos equivoquemos en la detección de <br>
                  el problema principal que aqueja al usuario, ya que hasta lo detectar el problema y validarlo en base a <br>
                  Researchs y estudios cualitativos no vamos a pasar a pensar en la solución.
                  <br>
                  El lema de Design Thinking es: <span class="textoNegrita">rápido, falla barato</span>. 
      
              </p>
      
          </section>
        </div>
        
        <div class="col">
            <div class="imagen_centro">
                <img src="../multimedia/wireframes.jpg" alt="wireframes" class="bordesRedondeados" id="img" width="300px" height="150px">
             </div>
      
          <h3 class="titulosTrabajos">Wireframe a mano</h3>
          <br>
          <section>
              <p>
                  ¿Te has preguntado alguna vez si el wireframe a mano tenía sentido? Pues sí, tiene muchísimo sentido y sobre todo cuando empiezas
                  un nuevo proyecto.
                  Con esta técnica podrás esquematizar cada una de las pantallas más importantes. Se utilizan tres niveles de wireframes:
                  <table class="table table-warning">
                   <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td>Wireframe</td>
                        <td>baja</td>
                        <td>fidelidad</td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>wireframe</td>
                        <td>media</td>
                        <td>fidelidad</td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Wireframe</td>
                        <td>alta</td>
                        <td>fidelidad</td>
                      </tr>
                    </tbody>
                  </table>
                  
                 ¿Los conocías?
      
              </p>
            </div>
       
       
            <div class="col">
                <div class="imagen_centro">
                    <img src="../multimedia/85d1f613d5a62f3f64b62c2b4e36e4848df2fe74-2120x1000.png" alt="FigJam" class="bordesRedondeados" id="img" width="300px" height="150px">
            </div>
     
         <h3 class="titulosTrabajos">La última novedad de Figma: FIGJAM</h3>
         <br>
         <section>
             <p>
            Si estas metido en el mundo del prototipado y el UX ya habrás escuchado hablar de Figjam, el último producto de figma;
            pero...¿Realmente qué es? "Es una pizarra online para poder colaborar y hacer brainstorming juntos"
            Sí, ya lo sé, para esto estaba mural y miró...¿Pero que lo hace tan especial? Interfaz super sencilla e intuitiva,
            podrás chatear con los miembros de equipo solo con el cursor (Sí!! has leído bien) etc.. 
            Con esas poquitas virtudes dejo que vuele tu imaginación y vayas corriendo a probarlo!
     
             </p>
     
         </section>
        </div>
      </div>

    <footer>
        <p class="textofooter">Antonela Alde ©</p>
        <p class="textofooter">Diseñadora UX | Desarrollo web</p>
    </footer>    
    
     <!--JAVASCRIPT-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>   
    </body>
    </html>
    