<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antonela Alde UX UI Design Web developer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
     <!--BOOTSTRAP CSS LOCAL-->
     <link rel="stylesheet" href="../bs/css/bootstrap.css">
    <!--Incrusto CSS-->
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>

    <header>
        
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <!--LOGO PARA VOLVER AL INDEX-->
            <a href="../Index.html"><img src="../multimedia/LOGO SOLO.png" alt="Logotipo profesional" width=80 height="70" class="img__tamaño"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          


            <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav mr-auto"> 
                             <li class="nav-item active">
                                    <a class="nav-link" href="../Index.html">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./Novedades.html">Novedades</a>
                                </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./Sobremi.html">Sobre mi</a>
                                </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./Trabajos.html">Trabajos</a>
                                </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./Contacto.html">Contacto</a>
                             </li>
                    </ul>
            </div>
          </nav>
        
        
    </header>



    <section class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="https://www.behance.net/gallery/116284263/Landing-Page-healthcare-insurance">
                    <img src="../multimedia/Healthcare Landing@2x.jpg" alt="Landing page para health care insurance" id="img">
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>
                <h3>Landing Page for Healthcare insurance</h3>
                Este trabajo de Lading Page surge a raíz de un desafío de "100 days UI Challenge".
                Mantiene una estética sencilla <br>
                pero a la vez
                <strong>moderna</strong> y muy <strong>comunicativa</strong>.
                Se utilizó una paleta de colores muy armónica, evocando a la tranqui-<br>
                lidad, seguridad y confianza que una compañía de medicina privadada debe ofrecer. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="https://www.behance.net/gallery/109104595/Identidad-Visual-de-Marca">
                        <img src="../multimedia/Proyecto 1.jpg" id="img" alt="Identidad Visual">
                    </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>
                <h3>Proyecto final de curso Photoshop & Ilustrator en <br> 
                    Coderhouse</h3>
                    La identidad visual de una marca es esencial para una compañía para poder ser <br>
            reconocida. Esta, le da la personalidad y presencia necesaria para poder perma- <br>
            necer en el mercado. <br>
            Este trabajo fue inspirado por el Art decó de los años 20 y la estética Vintage.
                 </p>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.behance.net/gallery/114767759/BuddyMe-Summoner-proyecto-UXUI">
                            <img src="../multimedia/Presentación.jpg" id="img" alt="App BuddyMeSumoner">
                        </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>
                    <h3>BuddyMe Summoner</h3>
                        Inspirado en una problemática que surge en los juegos competitivos nació <strong>BuddyMe Summoner</strong>
                        Esta app ayuda a <br> 
                        la comunidad de League of Legends a poder emparejarse con jugadores con buena conducta y poder formar un equi- <br>
                        po con usuarios con las mismas aspiraciones y así suprimir las conductas antideportivas que puedan surgir. 
                    
                        </p>
                     </p>
                </div>




        </div>

 </section>




    <footer>
        <p class="textofooter">Antonela Alde ©</p>
        <p class="textofooter">Diseñadora UX | Desarrollo web</p>
    </footer>    


<!--JAVASCRIPT-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script> 


</body>
</html>